.featureCard{

display:flex;

align-items:center;

gap:16px;

padding:18px;

margin-bottom:16px;

background:white;

border-radius:24px;

cursor:pointer;

transition:.3s;

box-shadow:0 10px 30px rgba(0,0,0,.06);

border:1px solid rgba(108,99,255,.05);

}

.featureCard:hover{

transform:translateY(-2px);

box-shadow:0 18px 35px rgba(108,99,255,.12);

}

.featureIcon{

width:60px;

height:60px;

border-radius:18px;

display:flex;

align-items:center;

justify-content:center;

background:linear-gradient(
135deg,
#6C63FF,
#8B5CF6
);

color:white;

font-size:28px;

flex-shrink:0;

box-shadow:0 12px 25px rgba(108,99,255,.25);

}

.featureContent{

flex:1;

}

.featureContent h3{

font-size:17px;

font-weight:700;

color:#111827;

margin-bottom:6px;

}

.featureContent p{

font-size:14px;

line-height:1.6;

color:#6B7280;

}

.arrow{

width:40px;

height:40px;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

background:#F5F3FF;

color:#6C63FF;

font-size:22px;

transition:.3s;

}

.featureCard:hover .arrow{

transform:translateX(4px);

background:#6C63FF;

color:white;

}