.login-page{

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    min-height:100vh;

}

.page-description{

    margin-bottom:25px;

}

.login-footer{

    margin-top:30px;

}

.login-footer p{

    text-align:center;

    margin-top:20px;

}

.login-footer span{

    color:var(--primary-color);

    font-weight:bold;

    cursor:pointer;

    margin-left:6px;

}

.login-footer span:hover{

    text-decoration:underline;

}