.inputGroup{

display:flex;

flex-direction:column;

gap:8px;

margin-bottom:20px;

}

.inputGroup label{

font-size:15px;

font-weight:600;

}

.inputGroup input{

height:58px;

padding:0 18px;

border:1px solid #ddd;

border-radius:18px;

font-size:15px;

transition:.3s;

background:white;

}

.inputGroup input:focus{

border-color:#6C63FF;

box-shadow:0 0 0 4px rgba(108,99,255,.15);

}

.inputGroup input::placeholder{

color:#B5B5B5;

}