.btn{

width:100%;

height:56px;

border:none;

border-radius:18px;

font-size:16px;

font-weight:700;

transition:.35s;

cursor:pointer;

}

.primary{

background:#6C63FF;

color:white;

}

.primary:hover{

transform:translateY(-2px);

box-shadow:0 15px 30px rgba(108,99,255,.25);

}

.secondary{

background:white;

border:2px solid #6C63FF;

color:#6C63FF;

}

.secondary:hover{

background:#F6F5FF;

}

.btn:disabled{

opacity:.5;

cursor:not-allowed;

}