.getStarted{

max-width:375px;

margin:auto;

min-height:100vh;

padding:24px 20px;

display:flex;

flex-direction:column;

align-items:center;

background:#FCFBFF;

}

.hero{

width:260px;

margin:20px 0;

}

.getStarted h1{

font-size:30px;

font-weight:700;

text-align:center;

color:#111827;

margin-bottom:12px;

}

.getStarted p{

text-align:center;

line-height:1.7;

color:#6B7280;

}

.buttonGroup{

width:100%;

margin-top:40px;

display:flex;

flex-direction:column;

gap:16px;

}

.guestButton{

height:56px;

border-radius:18px;

background:white;

border:2px solid #6C63FF;

color:#6C63FF;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.guestButton:hover{

background:#F4F2FF;

}

.signinText{

margin-top:30px;

font-size:15px;

}

.signinText span{

margin-left:6px;

color:#6C63FF;

font-weight:600;

cursor:pointer;

}